* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin:0px;
	padding:0px;
}

body {
	background:#f2f2f2;
	color:#333;
	font-family:Arial, helvetica, sans-serif;
}

a {
	text-decoration: none;
	color:#F24C27;
}

.wrapp {
	max-width: 1000px;
	width:80%;
	margin:auto;
	overflow: hidden;
}

header {
	width: 100%;
	height: 150px;
	padding:20px 0;
	background: #fff;
	overflow: hidden;
}

.logo {
	width: 200px;

	float: left;
}

.logo img {
	width:100%;

	vertical-align: top;
}

nav {
	float: right;
}

nav ul li {
	display: inline-block;
	padding-top: 50px;
	margin:0px 5px;
}

nav ul li a {
	display: block;
	background: #f2f2f2;
	color: #313131;
	padding:10px 20px;
	text-decoration: none;
	border-radius:3px;
	transition:all 300ms ease;
}

nav ul li a:hover {
	color: #fff;
	background: #313131;
}

.mensaje {
	background:#da2f2f;
	padding:20px;
	color:#fff;
	margin:20px 0;
	border-radius:5px;
}

.articulo {
	float: left;
	width: 70%;
	padding:0px 20px 20px 0px;
}

aside {
	float: left;
	width: 30%;
	background:#4b4b4b;
	color:#fff;
	padding:20px;
	border-radius:5px;
	
}




.widget ul {
	margin-left:20px;
}

.widget ul li {
	margin:10px 0;
	width: 100%;
}

.widget ul li a {
	color:#fff;
}

.widget ul li a:hover {
	text-decoration: underline;
}

footer {
	width: 100%;
	background:#333;
	padding:20px 0;
	color:#fff;
}

footer p {
	text-align:center;
}




.contenedor{
	color: #f2f2f2;
	width: 100%;
	height: 500px;
	background-color: #000000a1;
	border-radius: 5px;
	
}

.form{
	float: left;
	padding-left: 25px;
	padding-top: 25px;
	height: 500px;
}

.form2{
	float: left;
	padding-left: 25px;
	padding-top: 25px;
	height: 500px;
	width: 300px;
}


.intro{
	padding-top: 5px ;
	padding-left: 15px;
}

.img{
	float: left;
	padding-left: 125px;
	border-radius: 15px;
}





.img1{

	border-radius: 125px;
}





